<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <!-- the layout="column" here makes the toolbar become fixed on top because the content is treated as rows in a column -->
  <body ng-app="flampeFrontendAngularApp" ng-controller="NavigationController as app" layout="column" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button class="menu md-icon-button" hide-gt-sm ng-click="toggleMenu()"
                   aria-label="Show User List">
          <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h1 md-truncate flex>{{ 'TITLE' | translate}}</h1>
        <md-button class="menu md-icon-button" ng-click="goMenu('CONTROLS')" aria-label="Controls">
          <md-icon md-svg-icon="color_lens_white"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">

      <!-- Container #3 -->
      <md-sidenav layout="column" class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                  md-component-id="left" flex>
        <md-toolbar layout="row" ng-click="toggleMenu()" hide-gt-sm>
          <div class="md-toolbar-tools">
            <h1 md-truncate flex>{{ 'TITLE' | translate}}</h1>
          </div>
        </md-toolbar>
        <md-content flex>
          <md-list flex>
            <fl-nav-menu-item ng-repeat="item in menu" item="item" ng-click="toggleMenu()"></fl-nav-menu-item>
          </md-list>
        </md-content>
      </md-sidenav>

      <!-- Container #4 -->
      <md-content class="md-padding" layout-xs="column" layout="row" flex id="content">
        <div flex-xs flex-gt-xs="100" layout="column">
          <div ng-view></div>
        </div>
      </md-content>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/i18n/en.js"></script>
        <script src="scripts/i18n/de.js"></script>
        <script src="scripts/controllers/color.js"></script>
        <script src="scripts/controllers/animation.js"></script>
        <script src="scripts/controllers/gesture.js"></script>
        <script src="scripts/controllers/wifi.js"></script>
        <script src="scripts/controllers/mqtt.js"></script>
        <script src="scripts/controllers/update.js"></script>
        <script src="scripts/controllers/help.js"></script>
        <script src="scripts/controllers/setup.js"></script>
        <script src="scripts/directives/flnavmenuitem.js"></script>
        <script src="scripts/directives/flcolorselector.js"></script>
        <script src="scripts/services/flwebsocketclient.js"></script>
        <!-- endbuild -->
</body>
</html>
