<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'BRIGHTNESS' | translate}}</span>
      <span class="md-subhead">{{'BRIGHTNESS_TEXT' | translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="brightness_medium" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <md-slider flex ng-model="state.brightness" min="0" max="255" aria-label="brightness" id="brightness-slider">
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="state.brightness = 0">{{'BRIGHTNESS_OFF' | translate}}</md-button>
    <md-button ng-click="state.brightness = 255">{{'BRIGHTNESS_FULL' | translate}}</md-button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'COLOR_PRIMARY' | translate}}</span>
      <span class="md-subhead">{{'COLOR_PRIMARY_TEXT' | translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="color_lens" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <fl-color-selector color="state.primary" setter="primary"></fl-color-selector>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="randomizeColor('primary')">{{'RANDOMIZE' | translate}}</md-button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'COLOR_SECONDARY' | translate}}</span>
      <span class="md-subhead">{{'COLOR_SECONDARY_TEXT' | translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="color_lens" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <fl-color-selector color="state.accent" setter="accent"></fl-color-selector>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="randomizeColor('accent')">{{'RANDOMIZE' | translate}}</md-button>
  </md-card-actions>
</md-card>
