<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">About gestures</span>
          <span class="md-subhead">An introduction to sensor capabilities and controllable actions</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="gesture" class="md-media-sm card-media"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <p>Some text? Idk. A video maybe, or an interactive demo</p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
