<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'HELP'|translate}}</span>
      <span class="md-subhead">{{'HELP_TEXT'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="help" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'HELP_CONTENT'|translate}}</p>
  </md-card-content>
</md-card>
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'CONTACT_TITLE'|translate}}</span>
      <span class="md-subhead">{{'CONTACT_TEXT'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="email" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'CONTACT_CONTENT'|translate}}</p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>{{'MAIL'|translate}}</md-button>
  </md-card-actions>
</md-card>
