<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Help</span>
          <span class="md-subhead">Find out what's possible with your Flampe</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="help" class="md-media-sm card-media"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <p>There is nothing here. Go away and explore.</p>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Contact</span>
          <span class="md-subhead">Get in touch</span>
        </md-card-title-text>
        <md-card-title-media>
          <md-icon md-svg-icon="mail" class="md-media-sm card-media"></md-icon>
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <p>You can always send an email and attach a screen shot, video or description of your problem.</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Mail</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
