<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Help</span>
          <span class="md-subhead">Find out what's possible with your Flampe</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>There is nothing here. Go away and explore.</p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
