<md-divider ng-if="item.type == 'divider'">
</md-divider>
<md-list-item
  class="md-2-line"
  href="{{item.link}}"
  ng-if="!(item.type == 'divider')"
  md-colors="{{currentItem(item.link)?'{background: \'primary-100-0.5\'}':''}}"
>
  <md-icon md-svg-icon="{{item.icon}}" class="avatar"></md-icon>
  <div class="md-list-item-text" ng-if="item.textkey">
    <h3>{{item.textkey | translate}}</h3>
    <p>{{item.textkey+'_TEXT' | translate}}</p>
  </div>
  <div class="md-list-item-text" ng-if="!item.textkey">
    <h3>{{item.title}}</h3>
    <p>{{item.text}}</p>
  </div>
</md-list-item>
