<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Setup</span>
      <span class="md-subhead">Don't mess with this</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="settings_black" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <div flex-gt-sm="50" layout="column">
      <md-input-container>
        <label>LED pin</label>
        <input ng-model="state.setup.ledpin" type="number" min="1">
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column">
        <md-input-container>
          <label>LED count</label>
          <input ng-model="state.setup.ledcount" type="number" min="1">
        </md-input-container>
        <md-input-container flex-gt-sm="50">
          <label>LED orientation</label>
          <md-select ng-model="state.setup.orientation" aria-label="LED orientation">
            <md-option ng-value="'strip'">Strip</md-option>
            <md-option ng-value="'zigzag'">Zigzag</md-option>
            <md-option ng-value="'spiral'">Spiral</md-option>
            <!--<md-option ng-value="'ball'">Ball</md-option>-->
          </md-select>
        </md-input-container>
      </div>
      <div flex-gt-sm="50" layout="column">
        <md-input-container flex-gt-sm="50">
          <label>Color order</label>
          <md-select ng-model="state.setup.colororder" aria-label="Color order">
            <md-option ng-value="'RGB'">RGB</md-option>
            <md-option ng-value="'GRB'">GRB</md-option>
            <md-option ng-value="'BRG'">BRG</md-option>
            <md-option ng-value="'BGR'">BGR</md-option>
            <md-option ng-value="'RBG'">RBG</md-option>
            <md-option ng-value="'GBB'">GBB</md-option>
            <md-option ng-value="'GRBW'">RGBW</md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <md-checkbox name="state.setup.reverse" ng-model="state.setup.reverse">
            Reverse strip direction
          </md-checkbox>
        </md-input-container>
      </div>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm="50" layout="column" ng-if="state.setup.orientation === 'zigzag'">
        <p>Strip length to count ratio</p>
        <md-slider flex min="1" max="{{striplengths.length}}" ng-model="stripcountindex" aria-label="angle" id="stripcount-slider">
        </md-slider>
        <div layout="row">
          <md-input-container flex-gt-sm="50">
            <label>Strip length</label>
            <input disabled readonly ng-model="state.setup.striplength" ng-value="striplengths[stripcountindex-1]">
          </md-input-container>
          <md-input-container flex-gt-sm="50">
            <label>Strip count</label>
            <input disabled readonly ng-value="state.setup.ledcount / striplengths[stripcountindex-1]">
          </md-input-container>
        </div>
      </div>
      <div flex-gt-sm="50" layout="column" ng-if="state.setup.orientation === 'zigzag'">
        <md-input-container flex-gt-sm="50">
          <label>Shape</label>
          <md-select ng-model="state.setup.dimensions" aria-label="Shape">
            <md-option ng-value="2">2D / Flat</md-option>
            <md-option ng-value="3">3D / Cylinder</md-option>
          </md-select>
        </md-input-container>
        <!--<md-input-container flex-gt-sm="50">-->
          <!--<md-checkbox name="state.setup.rotate" ng-model="state.setup.rotate">-->
            <!--Rotate 90 degree-->
          <!--</md-checkbox>-->
        <!--</md-input-container>-->
      </div>
      <div flex-gt-sm="50" layout="row" ng-if="state.setup.orientation === 'spiral'">
        <md-input-container>
          <label>Turns</label>
          <input ng-model="state.setup.turns" min="1">
        </md-input-container>
        <md-input-container flex-gt-sm="50">
          <label>LEDs per turn</label>
          <input disabled readonly ng-value="ledsPer(state.setup.turns, 1)">
        </md-input-container>
      </div>
      <!--<div flex-gt-sm="100" layout="row" ng-if="state.setup.orientation === 'ball'">-->
        <!--<md-input-container flex-gt-sm="33">-->
          <!--<label>Turns</label>-->
          <!--<input ng-model="state.setup.ball.turns">-->
        <!--</md-input-container>-->
        <!--<md-input-container flex-gt-sm="33">-->
          <!--<label>LEDs per turn at center</label>-->
          <!--<input ng-model="state.setup.ball.ledscenter">-->
        <!--</md-input-container>-->
        <!--<md-input-container flex-gt-sm="33">-->
          <!--<label>Wicked factor</label>-->
          <!--<input ng-model="state.setup.ball.wickedf">-->
        <!--</md-input-container>-->
      <!--</div>-->
    </div>
  </md-card-content>
</md-card>


