<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Update</span>
          <span class="md-subhead">Update the Flampe firmware</span>
        </md-card-title-text>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Check again</md-button>
        </md-card-actions>
      </md-card-title>
      <md-card-content>
        <p>You are on firmware 123.456</p>
        <p>There are no updates available</p>
      </md-card-content>
    </md-card>
  </div>
</md-content>
