<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'UPDATE'|translate}}</span>
      <span class="md-subhead">{{'UPDATE_TEXT'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="system_update_alt" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'UPDATE_CONTENT'|translate:textValues}}</p>
    <p>{{status|translate}}</p>
    <md-progress-linear class="md-warn" md-mode="indeterminate"
                        ng-if="showProgress"
                        ng-disabled="!enableProgress"></md-progress-linear>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="check()"
               ng-if="showCheck"
               ng-disabled="!enableCheck">{{'UPDATE_RECHECK'|translate}}</md-button>
    <md-button ng-click="doUpdate()"
               ng-if="showUpdate"
               ng-disabled="!enableUpdate">{{'UPDATE'|translate}}</md-button>
  </md-card-actions>
</md-card>
