<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'WIFI_CLIENT_TEXT'|translate}}</span>
      <span class="md-subhead">{{'WIFI_CLIENT_TITLE'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="wifi_lock" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'WIFI_CLIENT_CONTENT'|translate}}</p>
    <div layout="row" layout-xs="column">
      <md-input-container flex="50">
        <label>{{'SSID'|translate}}</label>
        <input ng-model="state.wifi.ssid">
      </md-input-container>
      <md-input-container flex="50">
        <label>{{'PASSWORD'|translate}}</label>
        <input ng-model="state.wifi.password">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="connectWifi($event)">{{'CONNECT'|translate}}</md-button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'HOTSPOT_TITLE'|translate}}</span>
      <span class="md-subhead">{{'HOTSPOT_TEXT'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="wifi_tethering" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'HOTSPOT_CONTENT'|translate}}</p>
    <div layout="row" layout-xs="column">
      <md-input-container flex="50">
        <label>{{'SSID'|translate}}</label>
        <input ng-model="state.hotspot.ssid">
      </md-input-container>
      <md-input-container flex="50">
        <label>{{'PASSWORD'|translate}}</label>
        <input ng-model="state.hotspot.password">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="saveHotspot($event)">{{'SAVE'|translate}}</md-button>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{'PASSWORDS_TITLE'|translate}}</span>
      <span class="md-subhead">{{'PASSWORDS_TEXT'|translate}}</span>
    </md-card-title-text>
    <md-card-title-media>
      <md-icon md-svg-icon="security" class="md-media-sm card-media"></md-icon>
    </md-card-title-media>
  </md-card-title>
  <md-card-content>
    <p>{{'PASSWORDS_MASTER_CONTENT'|translate}}</p>
    <div layout="row" layout-xs="column">
      <md-input-container flex="50">
        <label>{{'MASTER_LOGIN'|translate}}</label>
        <input ng-model="state.access.master.login">
      </md-input-container>
      <md-input-container flex="50">
        <label>{{'PASSWORD'|translate}}</label>
        <input ng-model="state.access.master.password">
      </md-input-container>
    </div>
    <p>{{'PASSWORDS_VIEWER_CONTENT'|translate}}</p>
    <div layout="row" layout-xs="column">
      <md-input-container flex="50">
        <label>{{'VIEWER_LOGIN'|translate}}</label>
        <input ng-model="state.access.viewer.login">
      </md-input-container>
      <md-input-container flex="50">
        <label>{{'PASSWORD'|translate}}</label>
        <input ng-model="state.access.viewer.password">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="savePasswords($event)">{{'SAVE'|translate}}</md-button>
  </md-card-actions>
</md-card>
