<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">WiFi client</span>
          <span class="md-subhead">Connect to your home WiFi</span>
        </md-card-title-text>
        <md-card-title-media>
          <img src="../images/ic_wifi_lock_black_24px.svg" class="md-media-sm card-media">
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <md-input-container>
          <label>SSID</label>
          <input ng-model="wifi.ssid">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="wifi.password">
        </md-input-container>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">WiFi hotspot</span>
          <span class="md-subhead">Flampe creates this network if none are found</span>
        </md-card-title-text>
        <md-card-title-media>
          <img src="../images/ic_wifi_tethering_black_24px.svg" class="md-media-sm card-media">
        </md-card-title-media>
      </md-card-title>
      <md-card-content>
        <md-input-container>
          <label>SSID</label>
          <input ng-model="wifi.ssid">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="wifi.password">
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
</md-content>
